In [66]:
import pandas as pd
import numpy as np
import scipy as sc
pd.set_option('display.max_columns', 40)

In [13]:
archivo = pd.read_excel('epw_data.xlsx',header=None)

In [67]:
archivo

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34
0,2018,1,1,1,10,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,19.0,3.3,35,87876,9999,9999,348.1594,0.0,0.002,0.0,999900,999900,999900,99990,283,1.0,5,5,999,999,9,999999999,0,0,0,88,999,999,99
1,2018,1,1,1,20,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.9,3.3,35,87889,9999,9999,348.1690,0.0,0.170,0.0,999900,999900,999900,99990,326,1.6,5,5,999,999,9,999999999,0,0,0,88,999,999,99
2,2018,1,1,1,30,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.8,3.4,36,87887,9999,9999,347.3981,0.0,0.371,0.0,999900,999900,999900,99990,354,2.2,5,5,999,999,9,999999999,0,0,0,88,999,999,99
3,2018,1,1,1,40,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.8,3.6,36,87887,9999,9999,347.8451,0.0,0.305,0.0,999900,999900,999900,99990,348,1.9,5,5,999,999,9,999999999,0,0,0,88,999,999,99
4,2018,1,1,1,50,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,19.2,3.6,35,87889,9999,9999,349.8511,0.0,0.031,0.0,999900,999900,999900,99990,6,1.5,5,5,999,999,9,999999999,0,0,0,88,999,999,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2018,12,31,24,20,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.3,7.1,48,87471,9999,9999,349.4062,0.0,0.000,0.0,999900,999900,999900,99990,320,1.7,5,5,999,999,9,999999999,0,0,0,88,999,999,99
52556,2018,12,31,24,30,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.4,6.9,47,87455,9999,9999,349.7430,0.0,0.044,0.0,999900,999900,999900,99990,335,2.9,5,5,999,999,9,999999999,0,0,0,88,999,999,99
52557,2018,12,31,24,40,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,18.0,6.8,48,87470,9999,9999,347.7627,0.0,0.170,0.0,999900,999900,999900,99990,358,1.5,5,5,999,999,9,999999999,0,0,0,88,999,999,99
52558,2018,12,31,24,50,?9?9?9?9E0?9?9?9*9*9?9*9?9?9?9?9?9?9*9*_*9*9,17.8,7.1,50,87467,9999,9999,346.9886,0.0,0.003,0.0,999900,999900,999900,99990,322,0.6,5,5,999,999,9,999999999,0,0,0,88,999,999,99
52559,2018,12,31,24,0,NaN,0.0,0.0,0,0,0,0,248.3932,0.0,0.000,0.0,0,0,0,0,0,0.0,0,0,0,0,0,999999999,0,0,0,0,0,0,0

In [71]:
año = archivo.iloc[:,0]
mes = archivo.iloc[:,1]
dia = archivo.iloc[:,2]
hora = archivo.iloc[:,3]
raros = archivo.iloc[:,5]
diez = archivo.iloc[:,10]
once = archivo.iloc[:,11]
dieciseis = archivo.iloc[:,16]
diecisiete = archivo.iloc[:,17]
dieciocho = archivo.iloc[:,18]
diecinueve = archivo.iloc[:,19]
veinticuatro = archivo.iloc[:,24]
veinticinco = archivo.iloc[:,25]
veintiseis = archivo.iloc[:,26]
veintisiete = archivo.iloc[:,27]
veintiocho = archivo.iloc[:,28]
veintinueve = archivo.iloc[:,29]
treinta = archivo.iloc[:,30]
treintauno  = archivo.iloc[:,31]
treintados = archivo.iloc[:,32]
treintatres = archivo.iloc[:,33]
treintacuatro = archivo.iloc[:,34]

In [72]:
years =[]
for year in año:
    years.append(year)
    years.append(year)
    
months =[]
for month in mes:
    months.append(month)
    months.append(month)

days = []
for day in dia:
    days.append(day)
    days.append(day)

hours =[]
for hour in hora:
    hours.append(hour)
    hours.append(hour)

new_values = pd.DataFrame()
new_values['years'] = years
new_values['months'] = months
new_values['days'] = days
new_values['hours'] = hours

minute = [5,10,15,20,25,30,35,40,45,50,55,0]
x =[]
for i in range(8760):
    x.append(minute)
minutes = np.reshape(x,105120)

new_values['minutes'] = minutes

weird =[]
for raro in raros:
    weird.append(raro)
    weird.append(raro)
new_values['weird']=weird

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,6].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['seis'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,7].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['siete'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,8].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['ocho'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,9].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['nueve'] = cs(x)

hours =[]
for hour in diez:
    hours.append(hour)
    hours.append(hour)
new_values['diez'] = hours
    
hours =[]
for hour in once:
    hours.append(hour)
    hours.append(hour)
new_values['once'] = hours
    
x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,12].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['doce'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,13].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['trece'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,14].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['catorce'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,15].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['quince'] = cs(x)    
    
hours =[]
for hour in dieciseis:
    hours.append(hour)
    hours.append(hour)
new_values['dieciseis'] = hours

hours =[]
for hour in diecisiete:
    hours.append(hour)
    hours.append(hour)
new_values['diecisiete'] = hours
    
hours =[]
for hour in dieciocho:
    hours.append(hour)
    hours.append(hour)
new_values['dieciocho'] = hours
    
hours =[]
for hour in diecinueve:
    hours.append(hour)
    hours.append(hour)
new_values['diecinueve'] = hours
    
x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,20].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['veinte'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,21].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['veinteuno'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,22].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['veintedos'] = cs(x)

x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,23].values
cs = sc.interpolate.CubicSpline(xs,ys)
new_values['veintetres'] = cs(x)
    
hours =[]
for hour in veinticuatro:
    hours.append(hour)
    hours.append(hour)
new_values['veinticuatro'] = hours
    
hours =[]
for hour in veinticinco:
    hours.append(hour)
    hours.append(hour)
new_values['veinticinco'] = hours
    
hours =[]
for hour in veintiseis:
    hours.append(hour)
    hours.append(hour)
new_values['veintiseis'] = hours
    
hours =[]
for hour in veintisiete:
    hours.append(hour)
    hours.append(hour)
new_values['veintisiete'] = hours
    
hours =[]
for hour in veintiocho:
    hours.append(hour)
    hours.append(hour)
new_values['veintiocho'] = hours
    
hours =[]
for hour in veintinueve:
    hours.append(hour)
    hours.append(hour)
new_values['veintinueve'] = hours
    
hours =[]
for hour in treinta:
    hours.append(hour)
    hours.append(hour)
new_values['treinta'] = hours
    
hours =[]
for hour in treintauno:
    hours.append(hour)
    hours.append(hour)
new_values['treintauno'] = hours
    
hours =[]
for hour in treintados:
    hours.append(hour)
    hours.append(hour)
new_values['treintados'] = hours
    
hours =[]
for hour in treintatres:
    hours.append(hour)
    hours.append(hour)
new_values['treintatres'] = hours
    
hours =[]
for hour in treintacuatro:
    hours.append(hour)
    hours.append(hour)
new_values['treintacuatro'] = hours


# x = np.arange(0,105120,1)
# xs = np.arange(0,105120,2)
# ys = archivo.iloc[:,6].values
# cs = sc.interpolate.CubicSpline(xs,ys)
# new_values[''] = cs(x)

In [75]:
# new_values.to_csv('new.csv')

In [58]:
x = np.arange(0,105120,1)
xs = np.arange(0,105120,2)
ys = archivo.iloc[:,6].values
cs = sc.interpolate.CubicSpline(xs,ys)

In [61]:
len(values)

105120